*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.col-2{
    flex-basis: 40%;
    min-width: 500px;
}
.col-2 img{
    max-width:80%;
    padding: 60px 0;
    background-color:  radial-gradient(rgb(230, 186, 186),#f0bbbb);;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: hwb(338 69% 7%);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 90px 0;
    
}
.col-3{
    flex-basis: 20%;
    min-width: 260px;
    margin-bottom:50px;
    
}
.col-3 img{
    width: 96%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content:'';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4{
    font-size: 14px;

}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(rgb(233, 227, 227),#dc8e8e);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}
/*-------testimonial-------*/

.testimonial{
    padding-top: 100px;

}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial.col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/*--------brand----------*/
.brands{
    margin: 100px auto;
}
.col-5{
    width: 100px;

}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0)
}
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;

}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top:20px;

}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/*-------media query for menu-----*/

@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/*-------media query for less than 600 screen size----*/
@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 20px;
        line-height: 32px;
    }
}

/*--------single product details------*/

.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size:22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;

}

/* Contact section */

.contactus{
    padding-top: 10vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10vh;
   
  
  }
  .head{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
  
  }
  .head> h2 {
    font-size: 40px;
    color: #2D314D;
  }
  .field{
    width: 592px;
    margin-right: 9px;
    box-sizing: border-box;
    float: left;
    margin-left: 25px;
    margin-bottom: 29px;
  
  }
  .field input{
    width: 100%;
    padding: 0 15px;
    height: 40px;
    border: 1px solid #666;
  }
  .field input::placeholder{
    font-size: 18px;
    color: #666;
    font-weight: 400;
    text-transform: capitalize ;
  }
  .form{
    margin-left: 130px;
   
  }
  .textarea{
    width: 1150px;
  }
  .textarea textarea{
    margin-left: 25px;
    width: 106%;
    padding-left: 10px;
    height: 200px;
    padding-top: 10px;
    font-size: 18px;
  
  }
  .textarea input::placeholder{
    font-size: 18px;
    color: #666;
    font-weight: 400;
    text-transform: capitalize ;
  }
  .btn{
    margin-top: 15px;
    margin-left: 25px;
    
  }
  .btn button{
    
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    background-color:  rgb(243, 75, 75);
    padding: 10px 30px;
    border:0;
    border-radius: 5px;
  }
  .btn button:hover{
    
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    background-color: rgb(243, 75, 75);
    padding: 10px 30px;
    border:0;
    border-radius: 5px;
  }
  .left > h1{
    font-size: 50px;
    color: #334250;
   
  }
  .left > h2{
    font-size: 30px;
  }
  .left > p{
    font-size: 20px;
    color: #423F3E;
  }
  .name-color{
    color: #FF52BC;
  }
  .left{
    margin-top: 60px;
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
    
  }
  .left img{
    width: 70%;
  
  }
  .clr{
    clear: both;
  }
  .link-btn{
  
    text-decoration: none;
   background-color:#FF52BC;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    font-weight: 0;
    
  }
  .link-btn:hover{
    background-color: green;
    color: white;
    transition: 0.5s;
  }

 
  /*-------account-page------*/
  .account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
  }
  .form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgb(0,0,0,0,1);
    overflow: hidden;
  }
  .form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
  }
  .form-btn{
    display: inline-block;
  }
  .form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
  }

  form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 1 10px;
    border: 1px solid #ccc;
  }

  form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
  }
  form .btn:focus{
    outline: none;
  }
  #LoginForm{
    left: -300px;
  }
  #RegForm{
    left: 0;
  }
  form a{
    font-size: 12px;
  }
  #Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
  }